.background {
  background: rgb(221, 65, 35);
}

.logo {
  background-image: url(../images/logo.png);
}

.progressBar {
  background-color: #fff;
}

.splash {
  background-image: url(../images/splash_screener.png);
}

.watermark {
  background-image: url(../images/watermark.png);
}
